.hostcontainer{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: 3rem 0rem ;
}
.hostcontainer form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hostcontainer form input,.hostcontainer form select , .hostcontainer form   textarea{
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.hostcontainer form button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:45%;
    padding: 0.5rem 3rem;
    width: 10%;
    border-radius: 1rem;
    background: var(--mainColorLight);
}
.hostcontainer form button:hover{
   background:var(--mainColor) ;
}
@media only screen and (max-width: 1024px) {
    .hostcontainer{
        gap: 3rem;
    }

}
.success-message{
    position: absolute;
    top: 0;
    color: black;
}
div .error{
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}