.review{
    margin: 5rem 2rem;
}
.reviewcontainer{

}
.slider {
    width: 30rem;
    padding: 2rem;
    height: auto;
    border: 2px solid black;
    border-radius: 1rem;
    margin-right: 2rem;
}
.slider img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-bottom: 2px;
}

  @media only screen and (max-width: 1024px) {
    .slider {
        width: 7rem;
        padding: 2rem;
        height: auto;
    }
    .slider img{
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
    }

  }